<div id="item-5">
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">Entrenamiento de Resistencia</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">10 de junio 2024</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light me-2" href="#!">Resistencia</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Entrenamientos</a>
        </header>
    </article>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded" src="../../../../assets/img/resistencia.jpg" alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5"> 
        <p class="fs-5 mb-4">El entrenamiento de resistencia se enfoca en mejorar la capacidad del cuerpo para realizar esfuerzos durante períodos prolongados. Se centra en aumentar la resistencia cardiovascular, muscular y la capacidad aeróbica. Este tipo de entrenamiento es ideal para mejorar la salud cardiovascular, aumentar la resistencia muscular y quemar calorías.
            El entrenamiento de resistencia implica ejercicios aeróbicos, como correr, nadar, andar en bicicleta, así como ejercicios de fuerza con repeticiones de alta intensidad y poco descanso entre series. El objetivo es aumentar la resistencia muscular y cardiovascular, lo que permite realizar actividades físicas de mayor intensidad durante más tiempo sin fatigarse.
            A continuación, se presenta un programa de entrenamiento de resistencia diseñado para mejorar la resistencia cardiovascular y muscular, ideal para principiantes e intermedios.</p>
    </section>
    <div class="contPrograma text-center">
        <h4 class="mb-5">Programa de entrenamiento</h4>
        <div class="row">
            <div class="contenedorLista col-12 d-flex justify-content-evenly">
                <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                    <h5 class="">Día 1: Circuito de Cuerpo Completo</h5>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-5 me-auto">
                                <div class="fw-bold">Sentadillas con salto</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Flexiones</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Burpees</div>
                                3 series de 10-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo invertido</div>
                                3 series de 12-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Planchas</div>
                                3 series de 1 minuto
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                    <h5 class="">Día 2: Piernas y Cardio</h5>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Sentadillas con barra</div>
                                4 series de 12-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Zancadas</div>
                                3 series de 15 repeticiones por pierna
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Prensa de piernas</div>
                                4 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Saltos al cajón</div>
                                3 series de 10-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Cinta de correr</div>
                                20-30 minutos de intervalos de alta intensidad
                            </div>
                        </li>
                    </ol>
                </div> 
            </div>
        </div>
        <div class="row mt-4">
            <div class="contenedorLista col-12 d-flex justify-content-evenly">
                <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                    <h5 class="">Día 3: Espalda y Abdomen</h5>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Dominadas</div>
                                4 series al fallo
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo con barra</div>
                                4 series de 12-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Jalones en polea alta</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo en máquina</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Crunches</div>
                                4 series de 20-25 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones de piernas</div>
                                4 series de 15-20 repeticiones
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                    <h5 class="">Día 4: Hombros y Cardio</h5>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Press militar con barra</div>
                                4 series de 12-15 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones laterales con mancuernas</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones frontales con mancuernas</div>
                                3 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo al mentón</div>
                                4 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Encogimientos de hombros con barra</div>
                                4 series de 15-20 repeticiones
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-auto me-auto">
                                <div class="fw-bold">Bicicleta estática</div>
                                20-30 minutos de intervalos de alta intensidad
                            </div>
                        </li>
                    </ol>
                </div> 
            </div>
        </div>
    </div>
    <section class="mb-5 mt-5"> 
        <p class="fs-5 mb-4">Este programa está diseñado para mejorar la resistencia cardiovascular y muscular, mediante una combinación de ejercicios aeróbicos y de fuerza. Los ejercicios aeróbicos ayudan a mejorar la capacidad cardiovascular y la resistencia muscular, mientras que los ejercicios de fuerza contribuyen al desarrollo de la fuerza y resistencia muscular.
            Es importante realizar este tipo de entrenamiento de forma progresiva, aumentando gradualmente la intensidad y la duración de los ejercicios para obtener los mejores resultados. Además, se recomienda complementar el entrenamiento con una dieta equilibrada y suficiente descanso para favorecer la recuperación muscular.
        </p>
    </section>
</div>
