<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<body>
    <div class="contenedor">
        <div class="contTItulo d-flex justify-content-center align-items-center text-center ">
            <div class="mx-5 px-5">
                <h1>Calculadora de calorías para superávit</h1>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center  mt-5">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="text-center">
                        <p>Usa esta calculadora para estimar las <strong>calorías necesarias</strong> para un superávit calórico.</p>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 d-flex">
                            <div class="conteneCalcu d-flex justify-content-center  mb-4 p-5">
                                <form class="row g-3" [formGroup]="calculadoraForm" (ngSubmit)="onSubmit()">
                                    <div class="col-md-6 ">
                                      <label for="sexo" class="form-label">Tu sexo</label>
                                        <select formControlName="sexo" class="form-select" id="gender" type="select" name="gender-input">
                                            <option disabled selected>Selecciona tu sexo</option>
                                            <option value="h">Hombre</option>
                                            <option value="m">Mujer</option>
                                        </select>
                                        <span *ngIf="sexo?.invalid && (sexo?.dirty || sexo?.touched)" style="color: red;">
                                            El campo es obligatorio
                                          </span>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="edad" class="form-label">Tu edad</label>
                                      <input formControlName="edad" type="text"  name="edad" class="form-control" id="edad" placeholder="Introduce tu edad" required/>
                                      <span *ngIf="edad?.invalid && (edad?.dirty || edad?.touched)" style="color: red;">
                                        El campo contiene caracteres inválidos
                                      </span>
                                    </div>
                                    <div class="col-md-6">
                                          <label for="inputAddress" class="form-label">Tu peso (kg)</label>
                                          <input
                                            type="text"
                                            formControlName="weight"
                                            name="weight-input"
                                            class="form-control"
                                            id="weight"
                                            placeholder="Introduce tu peso en kg"
                                            required
                                          />
                                          <span *ngIf="weight?.invalid && (weight?.dirty || weight?.touched)" style="color: red;">
                                            El campo contiene caracteres inválidos
                                        </span>
                                      </div>
                                    <div class="col-md-6">
                                      <label for="altura" class="form-label">Tu altura (cm)</label>
                                      <input type="text" formControlName="altura" name="numero" class="form-control" id="altura" placeholder="Introduce tu altura en cm" required/>
                                      <span *ngIf="altura?.invalid && (altura?.dirty || altura?.touched)" style="color: red;">
                                        El campo contiene caracteres inválidos
                                      </span>
                                    </div>
                                    <div class="col-12">
                                      <label for="inputCity" class="form-label">¿Nivel de actividad física diaria?</label>
                                      <select class="form-select" formControlName="nivelActividad" id="gender" type="select" name="gender-input">
                                        <option disabled selected>Selecciona una opción</option>
                                        <option value="sedentario">Sedentario: poco o nada de ejercicio al día</option>
                                        <option value="ligera">Actividad ligera: ejercicio ligero o deporte 1-3 días a la semana</option>
                                        <option value="moderada">Actividad moderada: ejercicio moderado o deporte 3-5 días a la semana</option>
                                        <option value="intensa">Actividad intensa: ejercicio intenso o deporte 6-7 días a la semana</option>
                                        <option value="muy intensa">Actividad muy intensa: ejercicio muy intenso o trabajo físico y ejercicio diario</option>
                                      </select>
                                      <span *ngIf="nivelActividad?.invalid && (nivelActividad?.dirty || nivelActividad?.touched)" style="color: red;">
                                        El campo es obligatorio
                                      </span>
                                    </div>
                                    <div class="col-12">
                                      <label for="grasa" class="form-label">Tu grasa corporal (Opcional)</label>
                                      <input type="text" formControlName="grasa"  name="grasa" class="form-control" id="grasa" />
                                      <span *ngIf="grasa?.invalid && (grasa?.dirty || grasa?.touched)" style="color: red;">
                                        Carácter no válido
                                      </span>
                                    </div>
                                    <button type="submit" class="btn text-light" [disabled]="calculadoraForm.invalid">Calcular</button>
                                </form>
                            </div>
                        </div>
                        <div *ngIf="mostrarCalorias" class="alert alert-success mt-5" role="alert">
                            Calorías necesarias para ganar superávit: {{ caloriasNecesarias }} kcal
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
