<div class="wrapper">
    <div *ngIf="!loading"  class="container rounded">
        <div  class="contRegistro row">
            <div class="formulario col-6 ">
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class=" bi bi-x-lg mt-2" viewBox="0 0 16 16" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                </div>
                <div class="contLogin rounded-circle mb-5 mt-5">
                    <img class="logoLogin mt-2 me-2" src="../../../assets/img/logo.png" alt="login">
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" [(ngModel)]="name" class="form-control" placeholder="Ingrese usuario">
                    <label>Nombre</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" [(ngModel)]="surname" class="form-control" placeholder="Ingrese contraseña">
                    <label>Apellido</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" [(ngModel)]="email" class="form-control" placeholder="Ingrese contraseña">
                    <label>Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese contraseña">
                    <label>Contraseña</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese contraseña">
                    <label>Repite contraseña</label>
                </div>
                <a>
                    <div class="contSignIn rounded-circle" (click)="addUser()">
                        <img class="registroImage mt-3 ms-3"  src="../../../assets/img/crearUsuarioIcon.png" alt="Iniciar sesión">
                    </div>    
                </a>      
                <p class="mt-3 text-light">¿Ya tienes cuenta? <a routerLink = "/login" >Inicia Sesión</a> </p>
            </div>  
            <div class="contVideo col-6">
                <video height="100%" id= "videoRegistro" controls=" false" autoplay loop>
                    <source src="../../../assets/img/videoSignIn.mp4" type="video/mp4">
                  </video>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>