<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="titulo text-center">
                    <h1>Historial de Entrenamientos</h1>
                </div>
                <div class="col-12">
                    <div *ngIf="workouts.length; else noWorkouts">
                        <div class="cardWorkout col-12 border-dark rounded-5 p-4 text-light mb-2"  *ngFor="let workout of workouts">
                          <div class="col-md-12 d-flex">
                            <div class="col-md-6 d-flex"> 
                                <h3>Entrenamiento {{ workout.entrenamiento_id }} </h3>
                                <div class="d-flex justify-content-center align-items-center ms-3">
                                    <p >Series Totales: <strong>{{ workout.total_series }}</strong></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <h3>Fecha: {{ formatDate(workout.entrenamiento_date) }}</h3>
                            </div>
                          </div>
                          <div class="col-md-12  d-flex border-dark rounded-3">
                            <div class="col-md-12">
                                <ul>
                                    <li class="nombreEjercicio" *ngFor="let ejercicio of workout.ejercicios">
                                        <div class="col-md-12 d-flex  rounded-5 mb-5 mt-2">
                                            <div class="cardExercise col-md-3 d-block justify-content-center align-items-center p-5  rounded-5 text-dark">
                                                <div class="text-center">
                                                    <strong>{{ ejercicio.name }}</strong>
                                                </div>
                                                <div class="divImg border rounded-3 text-center"> 
                                                    <img class="imgExercise" src="../../../../assets/img/pulldown.png" alt="" *ngIf="ejercicio.id == 1">
                                                    <img class="imgExercise" src="../../../../assets/img/bench-press-800.png" alt="" *ngIf="ejercicio.id == 2">
                                                    <img class="imgExercise" src="../../../../assets/img/t-bar-row-800.jpg" alt="" *ngIf="ejercicio.id == 4">
                                                    <img class="imgExercise" src="../../../../assets/img/one-arm-pulldown-800.jpg" alt="" *ngIf="ejercicio.id == 5">
                                                    <img class="imgExercise" src="../../../../assets/img/spider-curl-800.jpg" alt="" *ngIf="ejercicio.id == 6">
                                                    <img class="imgExercise" src="../../../../assets/img/chest-press-800.jpg" alt="" *ngIf="ejercicio.id ==7">
                                                    <img class="imgExercise" src="../../../../assets/img/incline-bench-press-800.jpg" alt="" *ngIf="ejercicio.id == 8">
                                                    <img class="imgExercise" src="../../../../assets/img/incline-dumbbell-bench-press-800.jpg" alt="" *ngIf="ejercicio.id == 9">
                                                    <img class="imgExercise" src="../../../../assets/img/inclinadosmith.jpg" alt="" *ngIf="ejercicio.id == 10">
                                                    <img class="imgExercise" src="../../../../assets/img/cable-fly-800.jpg" alt="" *ngIf="ejercicio.id == 11">
                                                    <img class="imgExercise" src="../../../../assets/img/pressfrances.jpg" alt="" *ngIf="ejercicio.id == 12">   
                                                    <img class="imgExercise" src="../../../../assets/img/hack-squat-800.jpg" alt="" *ngIf="ejercicio.id == 13">
                                                    <img class="imgExercise" src="../../../../assets/img/prensa.jpg" alt="" *ngIf="ejercicio.id == 14">
                                                    <img class="imgExercise" src="../../../../assets/img/dumbbell-curl-800.jpg" alt="" *ngIf="ejercicio.id == 15">
                                                    <img class="imgExercise" src="../../../../assets/img/hammer-curl-800.jpg" alt="" *ngIf="ejercicio.id == 16">
                                                    <img class="imgExercise" src="../../../../assets/img/cable-overhead-tricep-extension-800.jpg" alt="" *ngIf="ejercicio.id == 17">
                                                    <img class="imgExercise" src="../../../../assets/img/Trícepsunbrazo(polea).jpg" alt="" *ngIf="ejercicio.id == 18">
                                                    <img class="imgExercise" src="../../../../assets/img/Parallel-Dip-Bar_600x600.jpg" alt="" *ngIf="ejercicio.id == 19">
                                                    <img class="imgExercise" src="../../../../assets/img/lying-leg-curl-800.jpg" alt="" *ngIf="ejercicio.id == 20">
                                                    <img class="imgExercise" src="../../../../assets/img/romanian-deadlift-800-removebg-preview.png" alt="" *ngIf="ejercicio.id == 21">
                                                    <img class="imgExercise" src="../../../../assets/img/seated-leg-curl-800.jpg" alt="" *ngIf="ejercicio.id == 22">
                                                    <img class="imgExercise" src="../../../../assets/img/dumbbell-deadlift-800.jpg" alt="" *ngIf="ejercicio.id == 23">
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="cardExercise  col-md-8 d-flex p-3 rounded-5 text-dark">
                                                <ul class="col-md-9 ">
                                                    <li class="ListaSerie d-flex rounded-3 p-2 mb-2" *ngFor="let serie of ejercicio.series; let i = index">
                                                        <div class="ms-2">
                                                            <p class=fw-bold> {{ i + 1 }}º Serie:</p>
                                                        </div>
                                                        Repeticiones: {{ serie.repeticiones }} - Peso: {{ serie.peso }} kg
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                    <ng-template #noWorkouts>
                        <p>No hay entrenamientos disponibles.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</body>
</html>