.imgLogo{
    width: 150px;
    height:80px;
    margin: 10px;
}
.logoCarrito {
    width: 30px;
   
}
@media (max-width:180px) {
    .navbar-toggler{
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .imgLogo{
        width: 100px;
        height: 50px;
    }
    /* .logoCarrito{
        display: none;
    } */
}
@media (max-width: 993px) {
    /* .logoCarrito{
        display: none;
    } */
}
#navbarColor04 {
    margin-top: 20px;
}