<nav class="navbar navbar-expand-lg" [ngClass]="{'expanded': navbarExpanded}">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" (click)="mostrarTodosLosProductos()">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="seleccionarCategoria(1)">Suplementos</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link active" (click)="seleccionarCategoria(3)">Ropa</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link active" (click)="seleccionarCategoria(2)">Material</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
