<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<body>
    <div class="contenedor">
        <div class="contTItulo d-flex justify-content-center align-items-center text-center ">
            <div class="mx-5 px-5">
                <h1>Calculadora de creatina según tu peso corporal</h1>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center  mt-5">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="text-center">
                        <p>La creatina es un compuesto que nuestro cuerpo sintetiza a partir de aminoácidos precursores como la <strong>glicina, metionina y la arginina</strong>. </p>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 d-flex">
                            <div class="conteneCalcu d-flex justify-content-center  mb-4 p-5">
                                <form class="row g-3" [formGroup]="calculadoraForm" (ngSubmit)="onSubmit()">
                                    <div class="col-12">
                                          <label for="inputAddress" class="form-label">Tu peso (kg)</label>
                                          <input
                                            type="text"
                                            formControlName="weight"
                                            name="weight-input"
                                            class="form-control"
                                            id="weight"
                                            placeholder="Introduce tu peso en kg"
                                            required
                                          />
                                          <span *ngIf="weight?.invalid && (weight?.dirty || weight?.touched)" style="color: red;">
                                            El campo contiene caracteres inválidos
                                        </span>
                                      </div>
                                    <div class="col-12">
                                      <label for="carga" class="form-label">¿Tienes pensado hacer una fase de carga?</label>
                                      <select class="form-select" formControlName="carga" id="carga" type="select" name="carga-input">
                                        <option disabled selected>Selecciona una opción</option>
                                        <option value="si">Si</option>
                                        <option value="no">No</option>
                                      </select>
                                      <span *ngIf="carga?.invalid && (carga?.dirty || carga?.touched)" style="color: red;">
                                        El campo es obligatorio
                                      </span>
                                    </div>
                                    <button type="submit" class="btn text-light" [disabled]="calculadoraForm.invalid">Calcular</button>
                                </form>
                            </div>
                        </div>
                        <div *ngIf="mostrarResultado" class="alert alert-success mt-5" role="alert">
                            <div *ngIf="resultadoCarga">
                                Tu consumo diario de creatina aproximado sería:<br>
                                Durante la fase de carga (7-10 días): {{ resultadoCarga }}<br>
                                Después de la fase de carga: {{ resultadoMantenimiento }}
                            </div>
                            <div *ngIf="!resultadoCarga">
                                Tu consumo diario de creatina aproximado sería:<br>
                                {{ resultadoMantenimiento }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
