<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-buscador-tienda></app-buscador-tienda>
    <br><br> <br>
    
    <div *ngIf="purchases.length > 0; else noPurchases" class="container text-secondary " >
        <h4 class="text-light mb-5">Mis pedidos</h4>
        <div *ngFor="let purchase of purchases" class=" row mb-5">
            <div class="dataPedido col-12 d-flex rounded-top">
                <div class="col-3 ">
                    <div >
                        PEDIDO REALIZADO
                    </div>
                    <div class="text-dark">

                        {{ formatDate(purchase.purchase_date)}}
                    </div>
                </div>
                <div class="col-2 ">
      
                        <div>
                            TOTAL
                        </div>
                        <div class="text-dark">
                            {{ purchase.total  }}€ 
                        </div>
                    
                </div>
                <div class="col-5">
                    <div>
                        ENVIAR A 
                    </div>
                    <div class="text-dark">

                        {{ purchase.calle }}, {{ purchase.numero }}, {{ purchase.ciudad }}, {{ purchase.cp }}    
                    </div>
                </div>
                <div class="col-2 ">
                    <div>
                        PEDIDO Nº {{ purchase.purchase_id }}
                    </div>
                </div>
            </div>
            <div *ngFor="let product of purchase.products" class="dataProducto col-12 d-flex bg-light ">
                <div class="col-2 img">
                    <img src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="col-8 text-dark mt-2">
                    <div>
                        {{ product.product_name }}
                    </div>
                    <div>
                        Cantidad: <strong>{{ product.cantidad }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <button class="volverTienda rounded-3" routerLink="/inicioTienda" >Volver a la tienda</button>
    </div>
    <br>
    <ng-template #noPurchases>
        <p>No hay compras para mostrar.</p>

      </ng-template> 
</body>
</html>
    
    
    <!-- <div *ngIf="purchases.length > 0; else noPurchases" class="">
        <h2>Historial de Compras</h2>
        <ul>
          <li *ngFor="let purchase of purchases">
            <strong>Compra ID:</strong> {{ purchase.purchase_id }} <br>
            <strong>Total:</strong> {{ purchase.total  }}€ <br>
            <strong>Fecha de Compra:</strong> {{ purchase.purchase_date  }}  <br>
            <strong>Dirección:</strong> {{ purchase.calle }}, {{ purchase.numero }}, {{ purchase.ciudad }}, {{ purchase.cp }} <br>
            <strong>Productos:</strong>
            <ul>
              <li *ngFor="let product of purchase.products">
                {{ product.product_name }} - Cantidad: {{ product.cantidad }}
              </li>
            </ul>
            <hr>
          </li>
        </ul>
      </div>
      <ng-template #noPurchases>
        <p>No hay compras para mostrar.</p>
      </ng-template> -->
      