<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<body>
    <section class="py-5 ">
        <div class="container-fluid ">
            <div class="contenedorScroll row ">
                <div class="col-12 col-lg-2 mb-3">
                    <nav id="navbar-example3" class="contenedorMenu d-flex flex-column align-items-stretch pe-3">
                        <nav class="nav nav-pills flex-column ">
                            <a class="nav-link " href="#item-1">Volumen</a>
                            <nav class="nav nav-pills flex-column ">
                                <!-- <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a> -->
                            </nav>
                            <a class="nav-link " href="#item-2">Deficit</a>
                            <a class="nav-link "  href="#item-3">R. corporal</a>
                            <nav class="nav nav-pills flex-column">
                                <!-- <a class="nav-link  ms-3 my-1" href="#item-3-1">Item 3-1</a>
                                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a> -->
                            </nav>
                            <a class="nav-link "  href="#item-4">Fuerza</a>
                            <a class="nav-link "  href="#item-5">Resistencia</a>
                        </nav>
                    </nav>
                </div>
                <div class="col-lg-9 p-3 ">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                        <app-volumen></app-volumen>
                        <app-deficit></app-deficit>
                        <app-recomposicion></app-recomposicion>
                        <app-fuerza></app-fuerza>
                        <app-resistencia></app-resistencia>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>
