<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<footer class="bg-dark-gradient footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    <div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>
                    <div class="text-white-65 mb-4 text-white">Compra en nuestra tienda y registra tus entrenamientos.</div>
                    <div class="nav footer-socila-icon">
                        <a href="#">
                            <i class="fab fa-spotify"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="contTraining col-sm-6 col-lg-2 my-4" routerLink="/home-entrenamientos">
                    <h5 class="text-white h6 mb-4">FITNESS</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a>Volumen</a>
                        </li>
                        <li>
                            <a>Deficit Calórico</a>
                        </li>
                        <li>
                            <a >Fuerza</a>
                        </li>
                        <li>
                            <a>Recomposición</a>
                        </li>
                        <li>
                            <a>Resistencia</a>
                        </li>
                    </ul>
                </div>
                <div class="contProd col-sm-6 col-lg-2 my-4" routerLink="/inicioTienda">
                    <h5 class="text-white h6 mb-4">Productos</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a>Suplementos</a>
                        </li>
                        <li>
                            <a>Ropa</a>
                        </li>
                        <li>
                            <a>Material</a>
                        </li>
                    </ul>
                </div>
                <div class="contCalcu col-sm-6 col-lg-2 my-4 " routerLink="/calculadora">
                    <h5 class="text-white h6 mb-4">Calculadoras</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a >Calorías deficit</a>
                        </li>
                        <li>
                            <a >Calorías superávit</a>
                        </li>
                        <li>
                            <a >Dosis diaria creatina</a>
                        </li>
                        <li>
                            <a >RM Press Banca</a>
                        </li>
                        <li>
                            <a >RM Sentadilla</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h5 class="text-white h6 mb-4">COMPAÑÍA</h5>
                    <div class="white-link">
                        <div class="d-flex pb-3">
                            <div class="avatar avatar-lg rounded">
                                <img src="../../../assets/img/myAvatar.png" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <small class="text-white">Jordi Villar Rumay</small>
                                <h6 class="font-w-500 h6 m-0"><a class="text-white" href="#">Full-Stack Developer</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center">
            <p class="m-0 text-light">© 2024 Copyright <a href="#" class="text-reset text-white">Koliseo GYM</a></p>
        </div>
    </div>
</footer>
