<div id="item-1">
    <article>
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">Volumen</h1>
            <div class="text-muted fst-italic mb-2">6 de junio 2024</div>
            <a class="badge bg-secondary text-decoration-none link-light me-2" href="#!">Bulking</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Entrenamientos exigentes</a>
        </header>
        <figure class="mb-4"><img class="img-fluid rounded" src="../../../../assets/img/volumen.jpg" alt="..." /></figure>
        <section class="mb-5"> 
            <p class="fs-5 mb-4">El entrenamiento de volumen, también conocido como hipertrofia muscular, es una fase específica en el ciclo de entrenamiento que se enfoca en aumentar el tamaño y la masa muscular. 
                Este tipo de entrenamiento se caracteriza por utilizar un mayor volumen de trabajo, es decir, más series y repeticiones con pesos moderados a altos. 
                El objetivo principal es estimular el crecimiento muscular a través de la sobrecarga progresiva, proporcionando suficiente estrés a los músculos para que se adapten y crezcan.
                El entrenamiento de volumen es fundamental para quienes buscan desarrollar una musculatura más grande y definida. Implica un equilibrio entre la intensidad (carga) y el volumen (series y repeticiones), y requiere una nutrición adecuada, descanso y recuperación para optimizar los resultados. 
                A continuación, se presenta un programa de entrenamiento de volumen diseñado para principiantes e intermedios.</p>
        </section>
        <div class="contPrograma text-center">
            <h4 class="mb-5">Programa de entrenamiento</h4>
            <div class="row">
                <div class="contenedorLista col-12 d-flex justify-content-evenly">
                    <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                        <h5 class="">Pecho y Tríceps</h5>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-5 me-auto">
                                <div class="fw-bold">Press de banca con barra</div>
                                4 series de 8-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Press inclinado con mancuernas</div>
                                3 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Aperturas con mancuernas</div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Fondos en paralelas</div>
                                3 series de 8-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Extensiones de tríceps en polea</div>
                                4 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Patada de tríceps con mancuernas</div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                        <h5 class="">Pierna</h5>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Sentadillas con barra                                                        </div>
                                4 series de 8-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Prensa de piernas
                                </div>
                                4 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Extensiones de cuádriceps
                                </div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Curl de piernas acostado
                                </div>
                                4 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Peso muerto rumano
                                </div>
                                3 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones de talones (gemelos)
                                </div>
                                4 series de 15-20 repeticiones
                              </div>
                            </li>
                        </ol>
                    </div> 
                </div>
            </div>
            <div class="row mt-4">
                <div class="contenedorLista col-12 d-flex justify-content-evenly">
                    <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                        <h5 class="">Hombros y Abdominales
                        </h5>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-5 me-auto">
                                <div class="fw-bold">Press militar con barra
                                </div>
                                4 series de 8-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones laterales con mancuernas
                                </div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones frontales con mancuernas
                                </div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Encogimientos de hombros con mancuernas
                                </div>
                                4 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Crunches
                                </div>
                                3 series de 15-20 repeticiones                                                      </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Elevaciones de piernas
                                </div>
                                3 series de 15-20 repeticiones
                            </div>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-5 border border-dark rounded-3 text-light bg-dark p-4">
                        <h5 class="">Espalda y Bíceps</h5>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Dominadas</div>
                                4 series al fallo
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo con barra</div>
                                4 series de 8-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Jalones en polea alta</div>
                                3 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Remo en máquina</div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Curl de bíceps con barra</div>
                                4 series de 10-12 repeticiones
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-auto me-auto">
                                <div class="fw-bold">Curl martillo con mancuernas</div>
                                3 series de 12-15 repeticiones
                              </div>
                            </li>
                        </ol>
                    </div> 
                </div>
            </div>
        </div>
    </article>
    <section class="mb-5 mt-5"> 
        <p class="fs-5 mb-4">Este programa está diseñado para trabajar todos los grupos musculares principales dos veces por semana, utilizando una combinación de ejercicios compuestos y de aislamiento. Los ejercicios compuestos, como el press de banca, las sentadillas y el peso muerto, son fundamentales porque trabajan múltiples grupos musculares a la vez y permiten levantar más peso, lo que estimula más el crecimiento muscular.
            Cada día de entrenamiento está dividido para enfocarse en diferentes grupos musculares, lo que permite una recuperación adecuada entre sesiones. El rango de repeticiones de 8 a 12 es óptimo para la hipertrofia, proporcionando un equilibrio entre la intensidad y el volumen necesario para el crecimiento muscular.
        </p>
    </section>
</div>