<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="container text-center content-wrapper">
        <div class="text-light">
            <h1 class="bienvenida">Bienvenido a <br> Koliseo Gym</h1>
            <p class="slogan">COMIENZA TU CAMINO. CONVIERTETE EN TU MEJOR VERSIÓN</p>
            <div class="text-light" *ngIf="user">
                <h1>Perfil de {{ user.name }}</h1>
                <p>Nombre: {{ user.name }}</p>
                <p>Apellido: {{ user.surname }}</p>
                <p>Correo electrónico: {{ user.email }}</p>
                <!-- Agrega más campos según sea necesario -->
              </div>
        </div>
        <div class="">
            <button class="fw-bold" [routerLink]="['/signIn']" routerLinkActive="router-link-active" >ÚNETE A NOSOTROS</button>
        </div>
        <div>
            <button class="fw-bold" [routerLink]="['/login']">INICIA SESIÓN</button>
        </div>
    </div>
</div>
<div class="item" id="contact">
    <app-contactanos></app-contactanos>
</div>
<div class="item" id="entrenamientos">
    <app-entrenamientos></app-entrenamientos>
</div>
<div class="item" id="actividades">
    <app-actividades></app-actividades>
</div>
