<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<body>
    <div class="contenedor">
        <div class="contTItulo d-flex justify-content-center align-items-center text-center ">
            <div class="mx-5 px-5">
                <h1>Calculadora de pasos a calorías quemadas</h1>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center  mt-5">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="text-center">
                        <p>Según un estudio de la Universidad de Harvard, caminar es la cura para varios problemas de salud.

                            Si estás en plan de bajar de peso, sin dudas caminar te ayudará a <strong>quemar calorías</strong>.</p>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 d-flex">
                            <div class="conteneCalcu d-flex justify-content-center  mb-4 p-5">
                                <form class="row g-3" [formGroup]="calculadoraForm" (ngSubmit)="onSubmit()">
                                    <div class="col-md-6">
                                          <label for="inputAddress" class="form-label">Número de pasos</label>
                                          <input
                                            type="text"
                                            formControlName="npasos"
                                            name="npasos"
                                            class="form-control"
                                            id="npasos"
                                            placeholder="Introduce tu peso en kg"
                                            required
                                          />
                                          <span *ngIf="npasos?.invalid && (npasos?.dirty || npasos?.touched)" style="color: red;">
                                            El campo contiene caracteres inválidos
                                        </span>
                                      </div>
                                    <div class="col-md-6">
                                      <label for="altura" class="form-label">Tu altura (cm)</label>
                                      <input type="text" formControlName="altura" name="numero" class="form-control" id="altura" placeholder="Introduce tu altura en cm" required/>
                                      <span *ngIf="altura?.invalid && (altura?.dirty || altura?.touched)" style="color: red;">
                                        El campo contiene caracteres inválidos
                                      </span>
                                    </div>
                                    <div class="col-12">
                                      <label for="ritmoAndando" class="form-label">¿Nivel de actividad física diaria?</label>
                                      <select class="form-select" formControlName="ritmoAndando" id="gender" type="select" name="ritmoAndando-input">
                                        <option disabled selected>Selecciona una opción</option>
                                        <option value="bajo">Bajo, 3-4.5 km/h</option>
                                        <option value="medio">Medio, 4.5-6 km/h</option>
                                        <option value="alto">Alto, 6-7 km/h</option>
                                        <option value="muyalto">Muy alto, 7-8.5 km/h</option>
                                      </select>
                                      <span *ngIf="ritmoAndando?.invalid && (ritmoAndando?.dirty || ritmoAndando?.touched)" style="color: red;">
                                        El campo es obligatorio
                                      </span>
                                    </div>
                                    <button type="submit" class="btn text-light" [disabled]="calculadoraForm.invalid">Calcular</button>
                                </form>
                            </div>
                        </div>
                        <div *ngIf="mostrarCalorias" class="alert alert-success mt-5" role="alert">
                            Calorías quemadas: {{ caloriasQuemadas }} kcal
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
