<div class="wrapper">
    <div *ngIf="!loading" class="container rounded">
        <div class="col-12 d-flex justify-content-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class=" bi bi-x-lg mt-2" viewBox="0 0 16 16" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg>
        </div>
        <div class="contLogin rounded-circle mb-5 ">
            <img class="logoLogin mt-2 me-2" src="../../../assets/img/loginicon.png" alt="login">
        </div>
        <div class="form-floating mb-4 ">
            <input type="text" [(ngModel)]="email" class="form-control" placeholder="Ingrese correo">
            <label>Email</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese contraseña">
            <label>Contraseña</label>
        </div>
        <a  class="botonInicio mt-4">
            <img src="../../../assets/img/accessIcon.png" (click)="login()" alt="Iniciar sesión">
        </a>      
        <p class="mt-3">¿No tienes cuenta? <a routerLink = "/signIn" >Registrarse</a>
        </p>  
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
