@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      padding: 20px;
      /* border-radius: 22px; */
      color: #ffffff;
      overflow: hidden;
    background: #ffffff;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .para {
    color:#000000; 
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 15px;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    text-transform: uppercase;
  }
  
  .content  .para {
    z-index: 1;
    /* opacity: 0.8; */
    font-size: 13px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
 .articulo {
    width: 50%;
 }
  .contenedorArt{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #000;
    background-repeat: no-repeat;
    height: auto;
    left: 50%;
    right: 50%;
    min-height: 150px;
  }

  .card::before {
    content: "";
    position: absolute;
    height: 160%;
    width: 160%;
    border-radius: inherit;
    background: #27ff0a;
    background: linear-gradient(to right, #27ff0a, #27ff0a);
    transform-origin: center;
    animation: moving 4.8s linear infinite paused;
    transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card:hover::before {
    animation-play-state: running;
    z-index: -1;
    width: 20%;
  }
  
  .card:hover .content .heading,
  .card:hover .content .para {
    color: #000;
  }
  
  .card:hover {
    box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
      0rem 24px 24px rgba(10, 60, 255, 0.09),
      0rem 55px 33px rgba(10, 60, 255, 0.05),
      0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
    scale: 1.05;
    color: #000000;
  }
  
  @keyframes moving {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1280px){
    .content .heading {
        font-weight: 700;
        font-size: 20px;
        z-index: 1;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
    .para{
        display: none;
    }

  }
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.08rem;
    font-weight: 700;
    font-size: 12px;
    border-radius: 500px;
    overflow: hidden;
    background: #27ff0a;
    color: ghostwhite;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   .card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 33.33%; /* Tamaño predeterminado para cada artículo */
    
}

@media (max-width: 1280px) {
    button span {
        font-size: 10px;
    }
}

@media (max-width: 1024px) {
    .heading {
      display: none;
    }
    .contenedorArt {
      min-height: 100px;
      background-size: cover;
    }
    .articulo {
      width: 100%;
   }
}

.titlePrice{
  width:100%
}

.logitoCarrito i {
  font-size: 1rem;
}




