<swiper-container>
    <swiper-slide *ngFor="let image of sliderImages">
        <img [src]="image" >
    </swiper-slide>
  </swiper-container>
  
<div class="container mt-5 px-5" >
    <h1 class="justify-content-center d-flex mb-5">PRODUCTOS</h1>
    <div class="row" >
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 justify-content-center  " *ngFor="let product of productosPrueba">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content" >
                    <div class="titlePrice row d-flex">                 
                            <div class="heading col-9 d-flex">
                                <p class="heading" >{{product.name}}</p>
                            </div>
                            <div class="col-3 d-flex">
                                <p class="heading">{{product.price}}€</p>
                            </div>
                    </div>
                    <p class="para">
                        {{product.description}}
                    </p>
                    <button (click)="addToCart(product)"> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="page d-flex justify-content-center mt-4" [collectionSize]="40" [(page)]="page" />
    {{ 'por que?¿' + productosPrueba}}

</div>
