<swiper-container>
    <swiper-slide *ngFor="let image of sliderImages">
        <img [src]="image" >
    </swiper-slide>
  </swiper-container>
  
<div class="container mt-5 px-5">
    <h1 class="justify-content-center d-flex mb-5">PRODUCTOS</h1>
    <div class="row">
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 mb-4 ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <div class="row d-flex">
                        <div class="col-2 d-flex text-dark">
                            <p>36€</p>
                        </div>
                        <div class="col-10">
                            <button> <span>Añadir al carrito</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3  ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 mb-4">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 mb-4">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>
        </div>
        <div class=" col-6 col-md-4 col-sm-6 col-lg-3 ">
            <div class="card ">
                <div class="contenedorArt text-center">
                    <img class="articulo" src="../../../../assets/img/protein.png" alt="">
                </div>
                <div class="content">
                    <p class="heading">Protein Isolate</p>
                    <p class="para">
                    La mayor calidad y pureza en tus batidos de proteína, no busques más.
                    </p>
                    <button> <span>Añadir al carrito</span>
                    </button>
                </div>
            </div>      
        </div>       
    </div>
    <ngb-pagination class="d-flex justify-content-center mt-4" [collectionSize]="40" [(page)]="page" />
</div>
